@using Core.Entities;
@using Core.ViewModel;
@model CategoryPostsViewModel;



<h2 class="my-4">Category: @Model.CategoryName</h2>

@if (Model.Posts == null || !Model.Posts.Any())
{
    <p>No posts found for this category.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var blog in Model.Posts)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@blog.Title</h5>
                        <p class="card-text">
                            @{
                                var contentPreview = string.IsNullOrEmpty(blog?.Content)
                                ? string.Empty
                                : blog.Content.Length > 50
                                ? blog.Content.Substring(0, 50) + "..."
                                : blog.Content;
                            }
                            @Html.Raw(contentPreview)
                        </p>

                        <p>Author - @blog?.Author</p>

                        <a class="btn btn-primary" asp-controller="BlogPost" asp-action="Details" asp-route-id="@blog?.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
